<section class="site placeholder multi" >
	<a class="tile desktop" href="javscript::void(0)" data-local-link="" data-prod-link="">
		<img src="/images/icons/no-image.gif" alt="{{name}}"/>
	</a>
	<div class="details">
		{{#unless parent.settings.no-stars}}
			<img src="/images/icons/favourite.png" class="favourite-icon" />
		{{/unless}}
		<a class="name" href="javscript::void(0)" data-local-link="" data-prod-link="">
			placeholder
		</a>
		<a class="admin" href="javscript::void(0)" data-local-link="" data-prod-link="">
			admin
		</a>
	</div>
</section>